<html>
    <style>
      #name_box{
        width:30%;
      }
      #comment_box {
        width:60%;
        height:200px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>New Comment</h1>
      <%= render 'form' %>
    </div>
</body>
</html>